html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.paddingTop {
   padding-top:10px;
}

.card-title {
    float: initial !important;
    font-size: 1.1rem !important;
    font-weight: 400 !important;
    margin: 0!important;
}
