.menuCygnus {
    background-color: #0a6cb3 !important;
}

.nombreSistema {
    color: white !important;
}

.nombreEmpleado {
    /*font-size: 22px !important;*/
    font-size: 1.1rem !important;
    font-weight: 400;
}

.d-block {
    color: white !important;
}

.navCygnus {
    background-color: #0c4c8b !important;
    color: white !important;
}

.nav-link {
    color: white !important;
}

.datosCygnus {
    color: #cc5224 !important;
    font-size: 16px !important;
}

.accionCygnus {
    background-color: #cc5224 !important;
    color: white !important;
}

.puntero:hover {
    cursor: pointer;
}

.info {
    padding: 5px 5px 5px 12px !important;
}

.selEmpresaUsuario {
    width: 300px !important;
    display: inline !important;
    height: 30px !important;
    padding: 0px 10px !important;
    font-size: 14px !important;
}

.azulCygnus {
    color: #0a6cb3 !important;
}

.paddingTop {
    padding-top: 10px;
}

.card-title {
    float: initial !important;
    font-size: 1.1rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    text-decoration: underline;
}

.card-subtitle {
    padding-top: 25px;
    float: initial !important;
    font-size: 1.0rem !important;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: -webkit-fill-available;
}


.copy {
    /*margin-top: auto;
    margin-left: -416px;*/
}

.posicion {
    /*margin-top: -1%;*/
}

.banner {
    width: 100%;
    position: fixed;
    height: 100px;
    bottom: 0;
    margin-top: 1% !important;
}

.logo {
    width: 15%;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 185px;
}

@media (max-width:850px) {
    .center-block {
        width: 150px !important;
    }
}

@media (max-width:750px) {
    .center-block {
        width: 140px !important;
    }
}

@media (max-width:650px) {
    .center-block {
        width: 130px !important;
    }
}



@media (max-width:450px) {
    .center-block {
        width: 120px !important;
    }
}

@media (max-width:450px) {
    .center-block {
        width: 120px !important;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

.logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    flex-shrink: 0;
}

.boton {
    justify-content: flex-end;
}

