@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grupo Cygnus | Template</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="~/Content/Site.css" rel="stylesheet" />-->
    <!--<link href="~/Content/layout.css"/>-->
    @*<link href="~/Content/bootstrap.min_new.css" rel="stylesheet" />*@
    <link href="~/css/recPass.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.css"/>*@


    <script src="~/js/cygnus-base.js"></script>
    <script src="~/js/route.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>


    @*<script type="text/javascript">
    function login() {
    window.location.href = "/Home/Index";
    }
    </script>*@
</head>

    <body>

        <div>
            <img alt="Grupo Cygnus" src="~/Content/images/logo.png" class="center-block" />
        </div>

        <div class="container well contenedor">
            @*Valor en minutos del tiempo de bloqueo para recuperacion de clave *@
            <input type="hidden" id="txtminutosRecuperacionPass" value="60">
            <input type="hidden" id="txtEnRut" value="0" />
            <input type="hidden" id="textEnTok" value="0" />
            <div class="row">
                <div class="col text-center">
                    <h4 class="RecText">Actualización de Contraseña</h4>
                    <br>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input name="txtNuevaPass" id="txtNewPass" type="password" class="form-control" placeholder="Ingrese su nueva contraseña " runat="server" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input name="txtRepNuevaPass" id="txtNewPassRep" type="password" class="form-control" placeholder="Vuelva a ingresar su contraseña" runat="server" />
                </div>
            </div>
            <br>
            <div class="form-group">
                <Button ID="btnActPass" class="btn btn-primary center-block" onclick="ActualizarPass(); return false">Actualizar Contraseña</Button>
            </div>
            <br>
            <br>
            <div class="row">
                <div id="divMensaje3" class="col-md-12 alert alert-danger" style="display:none;"></div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div id="divMensaje4" class="col-md-12 alert alert-danger" style="display:none;"></div>
                <div class="clearfix"></div>
            </div>

        </div>


        <footer class="d-flex justify-content-center flex-wrap align-items-center bg-light footer">
            <img alt="Grupo Cygnus" src="~/Content/images/banner1.jpg" class="logo" />
            <p class="posicion fs-5 px-3  pt-3 text-muted">Argomedo 302 Santiago</p>
            <p class="posicion fs-5 px-3  pt-3 text-muted">+56 2 2733 7500</p>
            <p class="posicion fs-5 px-3  pt-3 text-muted">contacto@cygnus.cl</p>
            <p class="copy fs-5 px-3  pt-3 text-muted">Grupo Cygnus2012 &copy; Todos Los Derechos Reservados</p>
        </footer>


        <script type="text/javascript">

            var urlParams = new URLSearchParams(window.location.search);
            var rut = urlParams.get('rut');
            var token = "";

            var params = window.location.search.substring(1).split("&");
            for (var i = 0; i < params.length; i++) {
                var param = params[i].split("=");
                if (param[0] === "token") {
                    token = param[1];
                    break;
                }
            }

            var txtEnRut = document.getElementById('txtEnRut');
            txtEnRut.value = rut;

            var textEnTok = document.getElementById('textEnTok');
            textEnTok.value = token;

            console.log('rut', rut);
            console.log('token', token);

        </script>


    </body>
</html>