@{
    Layout = null;
}

<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width" />
  <title>Grupo Cygnus | Sistemas</title>
  <link rel="icon" type="image/png" href="~/Content/images/unnamed.png" />
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  <link href="~/Content/themeCygnus/css/cygnus.css" rel="stylesheet" />

  <!--<link href="~/Content/Site.css" rel="stylesheet" />-->
  <!--<link href="~/Content/layout.css"/>-->
    @*<link href="~/Content/bootstrap.min_new.css" rel="stylesheet" />*@
  @*<link href="~/css/login.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap.css"/>*@



  <script src="~/js/cygnus-base.js"></script>
  <script src="~/js/route.js"></script>
  <script src="~/Content/js/bootstrap.bundle.min.js"></script>


</head>

<body>

    <div class="litle text-center">
        <h4>Sistemas</h4>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="row paddingTop">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-block">
                            <img src="~/Content/images/Curricular-icon.jpg" alt="" width="16" height="16"> Curricular
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-info btn-block">
                            <img src="~/Content/images/task-complete.png" alt="" width="18" height="18"> Evaluaciones Técnicas
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success btn-block">
                            <img src="~/Content/images/Maestro-icon.png" alt="" width="18" height="18">     Maestros Cygnus
                        </button>
                    </div>
                </div>
                <div class="row paddingTop">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-block">
                            <img src="~/Content/images/powerBi.png" alt="" width="16" height="16"> PowerBI
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-info btn-block">
                            <img src="~/Content/images/seguimientoTrabajador.png" alt="" width="18" height="18"> Seguimiento Trabajador
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success btn-block">
                            <img src="~/Content/images/SGMWeb.png" alt="" width="18" height="18"> SGM Maestro Web
                        </button>
                    </div>

                </div>
                <div class="row paddingTop">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-block">
                            <img src="~/Content/images/Vacaciones-icon.png" alt="" width="16" height="16"> Vacaciones
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-info btn-block">
                            <img src="~/Content/images/Compras-icon.png" alt="" width="18" height="18"> Validador de compras
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success btn-block">
                            <img src="~/Content/images/exit-icon.gif" alt="" width="18" height="18"> Cerrar Sesión
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row paddingTop">
                    <div class="col-md-12">
                        <div class="card" style="background-color:#D5D4D48F; border: 1px solid #ccc; box-shadow: 0px 2px 4px #ddd; ">
                            <div class="card-header">
                                <h5 class="card-title" style="text-align: center;">Últimas actualizaciones</h5>
                                <h6 class="card-subtitle" style="text-align: center;">
                                    Repositorio Facturas
                                    202303.1 - Disponible desde: 06-03-2023
                                </h6>

                                <p class="card-text paddingTop text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit tellus ut faucibus suscipit.
                                    Vivamus sit amet pharetra quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                    Donec imperdiet nec tortor vitae dignissim. Donec pulvinar, sapien vitae condimentum aliquam, quam lorem porttitor risus, vel dignissim elit sem vel arcu.
                                    Ut id dui elementum, malesuada dui in, feugiat eros. Nam facilisis fermentum eros, sit amet vulputate leo vulputate at.
                                    Morbi eget lorem pharetra justo pretium dictum vitae sed neque. Cras at lacus blandit ipsum facilisis interdum ut tincidunt tortor.
                                    Phasellus suscipit tellus quis felis ultricies tempus. Cras dapibus lacus vel magna euismod, id condimentum massa gravida.
                                    Vivamus at libero lobortis, facilisis ipsum non, posuere odio. Curabitur fermentum, libero ut mollis sollicitudin, massa sapien consequat tellus, et consectetur sem felis vitae ipsum.
                                    Etiam aliquet viverra ultrices. Donec nec tellus in quam porttitor lobortis eu at velit. Aliquam vel aliquam est.

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Nullam sed semper sapien. Donec in dictum ex, vel cursus lectus. Curabitur sed dui felis.
                                    Donec sollicitudin dolor vitae dolor venenatis vestibulum. Sed nisi neque, pulvinar nec viverra vel, interdum et lorem.
                                    Ut pellentesque felis ac pellentesque tincidunt. Cras porttitor dolor in felis rhoncus, dignissim efficitur turpis sagittis.
                                    Nulla consectetur ligula in nibh ultricies, eget pretium elit condimentum. Phasellus condimentum augue id egestas mattis.
                                    Etiam a tincidunt turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                    Vestibulum rhoncus sem nec quam imperdiet, non lacinia sapien mattis.

                                    Integer ultricies neque eu neque imperdiet cursus.
                                    Morbi quis ante molestie, porta orci vel, finibus enim. Sed nunc mauris, porta ac auctor ut, laoreet in lacus.
                                    Sed mollis nibh eu diam scelerisque pharetra. Aenean pulvinar, dolor sed volutpat dapibus, libero sapien scelerisque odio, et ultricies neque nunc eget felis.
                                    Vivamus porttitor nisl et ex dictum, quis vestibulum ante elementum. Suspendisse rutrum sem a magna egestas, vel fringilla velit egestas.
                                    Aliquam semper turpis at purus sagittis rutrum. Cras vel maximus augue, rhoncus malesuada urna. Integer rhoncus elit in accumsan auctor.
                                    Sed vel felis dolor. Sed fermentum fermentum urna at consequat. Curabitur a consectetur leo, vel imperdiet urna. Sed pulvinar ipsum risus, in varius leo luctus ut.
                                    Sed pellentesque felis lacus, ut ullamcorper neque rhoncus finibus. Sed vitae justo orci.
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>
