
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grupo Cygnus | Template</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />    
    <link href="~/Content/Site.css" rel="stylesheet" />    
    <script src="~/js/cygnus-base.js"></script>    
    <script src="~/js/route.js"></script>    

    @*<script type="text/javascript">
            function login() {
                window.location.href = "/Home/Index";
            }
        </script>*@
</head>
<body>
    <div class="text-center">
        <section class="login">
            <article>
                <img alt="Grupo Cygnus" src="~/Content/images/logo.png" class="imagen_login" />
            </article>
            <article class="titulo_login">Acceso Sistema Template</article>
            <article class="caja_texto">
                <input name="txtUsuario" type="text" id="txtUsuario" class="form-control" style="padding-left: 10px; background-image: url(http://app.cygnus-est.cl/images/Sistemas/Remuneraciones/user2.png); background-position: calc(100% - 10px) center; background-repeat:no-repeat;" placeholder="Rut" runat="server" />
            </article>
            <article class="caja_texto">
                <input name="txtPass" type="password" id="txtPass" class="form-control" style="padding-left: 10px;background-image: url(http://app.cygnus-est.cl/images/Sistemas/Remuneraciones/keys3.png); background-position:calc(100% - 10px) center; background-repeat:no-repeat;" placeholder="Contraseña" runat="server" />
            </article>
            <article class="banda">
                <Button ID="btnLoad" class="btn btn-primary" onclick="login();">Ingresar</Button>
            </article>
        </section>
        <br>
        <div id="alertPass" class="alert alert-warning" style="display:none; width: 400px; margin: 0 auto;">
            <span id="msjeAcceso"></span>
        </div>
    </div>
</body>
</html>

